{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
  {{ form_row(form.title) }}
  {{ form_row(form.characterName) }}
  {{ form_row(form.isMainCharacter) }}
  {{ form_row(form.rating) }}

  <div class="form-group">
    {{ form_label(form.releasedAt) }}
    {{ form_widget(form.releasedAt) }}
    {{ form_errors(form.releasedAt) }}
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

{{ form_end(form) }}

