{% extends 'base.html.twig' %}

{% block body %}
  <table class="table">
    <thead>
    <tr>
      <th>Movie name</th>
      <th>Character</th>
    </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
      <tr>
        <td>{{movie.title}}</td>
        <td>{{ movie.characterName }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
